[submodule "pmos-example"]
	path = pmos-example
	url = https://github.com/baiyunquan/OpenStick-Builder.git
	branch = pmos-zhihe-ufi103s-v05
[submodule "debian-dtbs"]
	path = debian-dtbs
	url = https://github.com/baiyunquan/OpenStick-Builder-General.git
[submodule "pmbootstrap"]
	path = pmbootstrap
	url = https://gitlab.postmarketos.org/postmarketOS/pmbootstrap.git
